/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  EDIT TO CALENDAR SOURCE CODE
  (Top-Right-Bottom-Left)
*************************************************** */

/* Removing background */
.dhx_scale_holder, .dhx_scale_holder_now {
  background-image: none;
}


/* Align text of events to the center, default: left */
.dhx_body{
  text-align: center;
}

/* Hides on px that enables scroll mode for some reason */
.dhx_cal_data{
  overflow: hidden;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
