/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  EDIT TO CALENDAR SOURCE CODE
  (Top-Right-Bottom-Left)
*************************************************** */

/* Removing background */
.dhx_scale_holder, .dhx_scale_holder_now {
  background-image: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
