/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

#Content-Main {
  width: auto;
  height: 800px;
  margin-top: 60px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  TOP BAR
  (Top-Right-Bottom-Left)
*************************************************** */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Register
  (Top-Right-Bottom-Left)
*************************************************** */

.Register-Main {
  position: relative;
  z-index: 0;
  width: 100vw;
  height: calc(100% - 60px);
}

.Register-Content-Underlayer {
  position: relative;
  top: 90px;
  left: calc(50vw - 350px);
  width: 700px;
  height: calc(100% - 50px);
  background-color: #35414d;
}

.Register-Icon {
  position: relative;
  top: -50px;
  text-align: -webkit-center;
  /* NOTE: This works to center circle, but is only a soulotion for chrome */
}

.Register-Icon-Underlayer {
  position: relative;
  display: table-cell;
  width: 100px;
  height: 100px;
  margin: 1px 1px 1px 1px;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: 100%;
  background: #292c30;
  font-size: 50px;
}

.Register-Content-Main {
  position: relative;
  top: -100px;
  width: 100%;
  height: 100%;
  padding: 60px 50px 50px 50px;
}

.Register-Content-Title {
  width: 100%;
  height: fit-content;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.Register-Content-Title label {
  width: 100%;
  height: auto;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.Register-Content {
  text-align: center;
  color: white;
}

.Register-Content-Field {
  margin-top: 40px;
  padding: 0px 10px;
  font-size: 14px;
}

.Register-Content div label {
  text-align: left;
  color: white;
  font-style: italic;
}

/* NOTE: (Top-Right-Bottom-Left) */

.Calendar {
  margin-top: 30px;
}

.Password-Group {
  margin-top: 30px;
}

.Password {
  padding: 0 10px 0 50px;
}

.Password-Confirm {
  padding: 0 50px 0 10px;
}

.Content-Button{
  margin-top: 40px;
  text-align: center;
}

.Button{
  padding: 1.5em 4em;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Edit to foundation code
  (Top-Right-Bottom-Left)
*************************************************** */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  text-indent: 10px;
  font-size: 12px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  TESTING SECTION
  (Top-Right-Bottom-Left)
*************************************************** */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
