/* ***************************************************
  Absence table
  (Top-Right-Bottom-Left)
*************************************************** */

.Absence-Title{
  margin-top: 40px;
  text-align: center;
}

.Absence-Table{
  margin-top: 40px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Foundation code
  (Top-Right-Bottom-Left)
*************************************************** */

.dashboard-table td {
  border-bottom: 1px dashed #d7d7d7;
}

.dashboard-table th, .dashboard-table td {
  text-align: center;
}

.dashboard-table tbody {
  border-top: 2px solid #e1e1e1;
}

.dashboard-table tbody tr {
  transition: all 0.3s ease;
}

.dashboard-table tbody tr:hover {
  background: #404d5a;
  transition: all 0.3s ease;
  color: white;
}

.dashboard-table tr:last-child td {
  border-bottom: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
