/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

.Content-Main {
  width: 100%;
  padding: 40px 60px;
  padding-bottom: 20px;
}

div#Loading-Table {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

#AddClassModal {
  max-width: 800px !important;
}

label.dd-option-text {
  font-size: 14px !important;
  font-weight: normal !important;
}

label.dd-selected-text {
  width: 100% !important;
  max-width: 480px !important;
}

.AddNew {
  background-color: #0fab51;
}

.AddNew a:hover {
  background-color: #0e9446;
}

.AddNew .dd-option-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddNew .dd-option-selected {
  background: #0fab51;
}

.dd-option-text .AddNewIcon {
  font-size: 20px;
  color: white;
}

.dd-option-text .AddNewLabel {
  font-size: 14px;
  font-weight: bold;
  padding-left: 20px;
  color: white;
}

.FailedLoadingList a {
  background: #f44336 !important;
}

.FailedLoadingList .dd-option:hover {
  background: #e53935 !important;
}

.FailedLoadingList * {
  color: white;
}

.dd-options {
  box-shadow: none !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  DataTable Addon Edit
  (Top-Right-Bottom-Left)
*************************************************** */

/* Remove default search bar */

div#List_filter {
  display: none;
}

/* Remove top and bottom padding from DataTables */

table#List {
  display: none;
  overflow: hidden;
  margin: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Add padding to items */

table.dataTable tbody th, table.dataTable tbody td {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Center heading and content text */

table#List th, table#List td {
  text-align: center;
}

#List thead {
  color: white;
  background: #36414d;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #e2e2e2;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Style List and input
  (Top-Right-Bottom-Left)
*************************************************** */

/* Styling search bar */

#List-Search {
  font-size: 14px;
  font-weight: bold;
  display: none;
  height: 50px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  border: 1px solid #bdbdbd;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: #35414d;
}

table.dataTable thead th, table.dataTable thead td {
  border-color: #bdbdbd;
}

table.dataTable.no-footer {
  border-color: #bdbdbd;
}

#List-Search:focus {
  border-bottom: 2px solid white;
}

/* Center paging buttons */

div#List_paginate {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
}

/* Remove paging bottom padding */

div#List_paginate .pagination {
  margin: 0;
}

/* Paging buttons */

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #dcdcdc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 8px 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover a {
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: black;
}

.pagination a:hover, .pagination button:hover {
  background: none;
}

.pagination a, .pagination button {
  display: block;
  padding: 0;
  color: #0a0a0a;
  border-radius: 0;
}

#List-Main {
  max-width: 800px;
  margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Add Class Form
  (Top-Right-Bottom-Left)
*************************************************** */

.Form-First, .Form-Program, .Form-Year {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Form-First, .Form-Program {
  padding-bottom: 30px;
}

.AddClass-Container {
  width: 100%;
  max-width: 35%;
  padding: 0 20px;
}

.AddClass-Container:first-child {
  padding-left: 0;
}

.AddClass-Container:last-child {
  padding-right: 0;
}

.AddClass-Container label {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
}

#AddClass-Separator {
  text-align: center;
  text-transform: uppercase;
}

.Form-Program label, .Form-Year label {
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  width: 30%;
  min-width: 100px;
  max-width: 30%;
  padding-right: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.AddProgram-Program, .AddProgram-Code {
  display: flex;
}

.AddProgram-Program {
  padding-bottom: 20px;
}

.AddProgram-Program input {
  display: block;
}

.AddProgram-Program input:first-letter {
  text-transform: uppercase;
}

.AddProgram-Code input {
  text-transform: uppercase;
}

.AddProgram-Program label, .AddProgram-Code label {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  width: 30%;
  min-width: 90px;
  justify-content: left;
  align-items: center;
}

.AddProgram-Program input, .AddProgram-Code input {
  padding: 0 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Add Year Form
  (Top-Right-Bottom-Left)
*************************************************** */

#AddYear .Modal-Form * {
  font-size: 16px;
  font-weight: bold;
}

.AddYear-First {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
}

.AddYear-First input {
  max-width: 400px;
  text-align: center;
}

.AddYear-Second label, .AddYear-Third label {
  display: flex;
  width: 30%;
  max-width: 400px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.AddYear-Second input, .AddYear-Third input {
  padding-left: 65px;
  text-align: center;
}

.AddYear-Second {
  display: flex;
  padding-bottom: 10px;
}

.AddYear-Third {
  display: flex;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Manage Class
  (Top-Right-Bottom-Left)
*************************************************** */

.Full-Modal #ManageClass-Title {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 50px);
  height: 100%;
  padding: 7px 0;
  padding-left: 50px;
}

.Full-Modal .Title-Program, .Full-Modal .Title-CodeYear {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.Full-Modal .Title-Program {
  font-size: 18px;
  font-weight: bold;
  height: 60%;
}

.Full-Modal .Title-CodeYear {
  font-size: 12px;
  font-weight: normal;
  height: 40%;
}

.Full-Modal .Modal-Content {
  position: relative;
  display: flex;
  height: calc(100vh - 80px - 60px);
}

.Full-Modal .Modal-Buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  height: 60px;
  padding: 0;
  background-color: #424242;
  justify-content: center;
  align-items: center;
}

.Full-Modal .Modal-Buttons #ManageClass-Save {
  width: 110px;
  border-radius: 5px;
  font-weight: bold;
}

.Full-Modal .Filter-Container {
  width: 25%;
  min-width: 170px;
  max-width: 200px;
  min-height: 100%;
}

.Full-Modal .ManageClass-Filter {
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 50px - 60px);
  background-color: darkred;
}

.Full-Modal .ManageClass-Filter-Main {
  position: relative;
  width: 100%;
  min-height: calc(100% - 40px);
  background-color: #3d4148;
}

.Full-Modal .Filter-Header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  height: 50px;
  color: white;
  background: #292c30;
  justify-content: center;
  align-items: center;
}

.Full-Modal #Filter-Search {
  height: 40px;
  text-align: center;
  text-transform: capitalize;
  border: 0;
  box-shadow: none;
  font-size: 16px;
  font-weight: bold;
}

.Full-Modal .List-Container {
  width: 100%;
  min-width: 480px;
  min-height: 100%;
}

.Full-Modal .ManageClass-List {
  position: relative;
  overflow-y: scroll;
  height: calc(100% - 60px);
  background-color: grey;
}

.Full-Modal .List-Header {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  height: 50px;
  color: white;
  background: #292c30;
  justify-content: center;
  align-items: center;
}

/* ----- START: Adding white border in between sections ----- */

/* NB: If you remove this make sure to change heights that are calc */

.Modal-Header {
  border-bottom: 1px solid white;
}

.List-Header {
  border-left: 1px solid white;
}

.Modal-Buttons {
  border-top: 1px solid white;
}

/* ----- END: Adding white border in between sections ----- */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Manage Class - List and items (UL + LI)
  (Top-Right-Bottom-Left)
*************************************************** */

.Full-Modal .ManageClass-List-Main {
  position: relative;
  width: 100%;
  min-height: calc(100% - 50px);
  padding: 40px;
  list-style: none;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 0fr;
  grid-gap: 20px;
  align-items: stretch;
}

@media print, screen and (min-width: 1000px) {
  .Full-Modal .ManageClass-List-Main {
    grid-template-columns: 1fr 1fr;
  }
}

@media print, screen and (min-width: 1500px) {
  .Full-Modal .ManageClass-List-Main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.List-Item {
  display: flex;
  height: 80px;
  position: relative;
  box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid grey;
}

.List-Item-Img {
  overflow: hidden;
}

.List-Item-Img img {
  object-fit: cover;
  height: 100%;
  width: 80px;
}

.List-Item-Content {
  flex-grow: 1;
  background-color: white;
  padding: 10px 20px;
}

.Item-Content-Name {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  height: 100%;
}

#Item-Content-Name {
  max-width: 230px;
  overflow: hidden;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.Item-Content-Details {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: normal;
  width: 230px;
  margin: 0 auto;
}

#Item-Content-Email {
  max-width: 200px;
  overflow: hidden;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.List-Item-Checkbox {
  position: relative;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: grey;
}

.List-Item-Checkbox .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Manage Class - Checkbox style from:
  https://www.w3schools.com/howto/howto_css_custom_checkbox.asp
  (Top-Right-Bottom-Left)
*************************************************** */

/* Customize the label (the container) */

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.container input {
  display: none;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
  background-color: #1779ba;
}

.container:hover input:checked~.checkmark {
  background-color: #14679e;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
  position: relative;
  left: 10px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
