/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  THREE BOXES
  (Top-Right-Bottom-Left)
*************************************************** */

.Display-Main {
  position: relative;
  display: inline-flex;
  width: 100%;
  margin-top: 5vh;
  text-align: center;
  justify-content: center;
}

.Display-Item {
  width: 170px;
  margin: 0 5vw;
}

.Display-Item label {
  overflow: hidden;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Display-Item-Screen {
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: white;
}

#NextClassHours {
  display: none;
}

#NextClassDays {
  display: none;
}

#NextClassMajor {
  display: none;
  padding-top: 4px;
}

#NextClassNo {
  display: none;
  align-items: center;
  justify-content: center;
}

#NextClassNo * {
  font-size: 1em;
  position: relative;
  padding: 1.9rem 0;
}

.Item-Next-Top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Item-Next-Top div {
  margin: 0 7px;
}

.Item-Next-Top div span {
  font-size: 10px;
}

.Item-Next-Top div label {
  font-size: 16px;
}

.Item-Test {
  padding-top: 15px;
}

.Test-Date {
  font-size: 16px;
}

.Test-Time {
  font-size: 12px;
}

.Item-Absence {
  padding-top: 15px;
}

.Absence-Item {
  display: none;
  height: 0;
  margin: 0;
}

.Percent-Main {
  font-size: 16px;
}

.Major-Main {
  font-size: 15px;
}

.Calendar-Main {
  position: relative;
  width: 90vw;
  height: 900px;
  margin-top: 5vh;
  margin-left: 5vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

data {
  position: absolute;
  display: none;
  overflow: scroll;
  width: 100vw;
  height: 100%;
}

#Overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

#Fravaer-PopUp {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 80vw;
  height: 150vh;
  margin-top: 100px;
  margin-left: 10vw;
  background: linear-gradient(to bottom, #3cf 0%, #f9c 100%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Calendar edit
  (Top-Right-Bottom-Left)
*************************************************** */

.dhx_cal_event .dhx_footer {
  background: inherit;
}

@media screen and (max-width: 700px) {
  .dhx_cal_today_button {
    display: none;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  EDIT TO FOUNDATION CODE
  (Top-Right-Bottom-Left)
*************************************************** */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
