/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  THREE BOXES
  (Top-Right-Bottom-Left)
*************************************************** */

.Display-Main {
  position: relative;
  display: inline-flex;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  justify-content: center;
}

.Display-Item {
  width: 170px;
  margin: 0 5vw;
}

.Display-Item label {
  overflow: hidden;
  height: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.Display-Item-Screen {
  line-height: 1;
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: white;
}

.Display-Item-Title {
  font-size: 12px;
  font-weight: bold;
  display: flex;
  color: white;
  background-color: #36414d;
  justify-content: center;
  align-items: center;
}

#NextClassHours {
  display: none;
}

#NextClassDays {
  display: none;
}

#NextClassMajor {
  display: none;
  padding-top: 5px;
}

#NextClassNo {
  display: none;
  align-items: center;
  justify-content: center;
}

#NextClassNo * {
  font-size: 1em;
  position: relative;
  padding: 1.9rem 0;
}

.Item-Next-Top {
  display: inline-flex;
  margin-top: 2px;
  align-items: center;
  justify-content: center;
}

.Item-Next-Top div {
  margin: 0 7px;
}

.Item-Next-Top div span {
  font-size: 10px;
}

.Item-Next-Top div label {
  font-size: 16px;
}

.Item-Test {
  padding-top: 15px;
}

.Test-Date {
  font-size: 16px;
}

.Test-Time {
  font-size: 12px;
}

.Item-Absence {
  padding-top: 15px;
}

.Absence-Item {
  display: none;
  height: 0;
  margin: 0;
}

.Percent-Main {
  font-size: 16px;
}

.Major-Main {
  font-size: 15px;
}

.Calendar-Main {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 900px;
  margin-top: 30px;
  margin-left: 5vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

#Overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  top: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
}

#Fravaer-PopUp {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 80vw;
  height: 150vh;
  margin-top: 100px;
  margin-left: 10vw;
  background: linear-gradient(to bottom, #3cf 0%, #f9c 100%);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Calendar edit
  (Top-Right-Bottom-Left)
*************************************************** */

.dhx_cal_event .dhx_footer {
  display: none;
  background: inherit;
}

@media screen and (max-width: 700px) {
  .dhx_cal_today_button {
    display: none;
  }
  .dhx_cal_event .dhx_title {
    font-size: 10px;
  }
  .dhx_cal_event .dhx_body, .dhx_cal_event_line {
    font-size: 10px;
  }
}

.dhx_cal_event .dhx_body, .dhx_cal_event .dhx_footer, .dhx_cal_event .dhx_header, .dhx_cal_event .dhx_title {
  cursor: url('../../img/cursor/Form-View-Color.png'), pointer !important;
  background-color: #36414d;
}

div.dhx_menu_head {
  display: none;
  background-image: inherit;
}

.Sub {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Content {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.Room {
  display: flex;
  min-height: fit-content;
  max-height: fit-content;
  margin-top: 5px;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

/* Hour_Scale */

.dhx_cal_event_cont_selected {
  color: white;
  background-color: #9cc1db;
}

.dhx_scale_hour_main {
  font-size: 16px;
  font-weight: bold;
  float: left;
  text-align: right;
}

.dhx_scale_hour_minute_cont {
  position: relative;
  float: left;
  text-align: right;
}

.dhx_scale_hour_minute_top, .dhx_scale_hour_minute_bottom {
  font-size: 10px;
  padding-right: 5px;
}

.dhx_scale_hour_sep {
  position: absolute;
  top: 39.5px;
  right: 0;
  width: 20px;
  height: 1px;
  background-color: #8c929a;
}

/* Changing color scheme of the calendar */

.dhx_cal_container {
  background-color: inherit;
}

.dhx_cal_data {
  border-top: 1px solid black;
}

.dhx_body {
  display: flex;
  flex-flow: column nowrap;
}

.dhx_cal_header {
  border-top-color: black;
  border-right-color: black;
}

.dhx_cal_date, .dhx_cal_next_button, .dhx_cal_prev_button, .dhx_cal_tab, .dhx_cal_today_button {
  color: black;
  border: 1px solid black;
}

.dhx_cal_tab.active {
  color: white;
  border: 1px solid black;
  background-color: black;
  text-shadow: inherit;
}

.dhx_cal_tab[name=week_tab] {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.dhx_cal_today_button:active {
  color: white;
  background-color: black;
}

.dhx_scale_bar {
  color: black;
  border-left: 1px solid black;
  background-color: inherit;
}

.dhx_scale_holder {
  border-right: 1px solid black;
}

.dhx_multi_day, .dhx_multi_day_icon, .dhx_multi_day_icon_small {
  border-color: black;
  border-bottom: 0;
  background-color: inherit;
}

.dhx_scale_holder_now {
  border-right: 1px solid black;
  border-right-color: black;
  background-color: #ffef9759;
}

.dhx_scale_hour {
  color: black;
  border-bottom: 1px solid black;
  background-color: inherit;
}

.dhx_scale_hour_sep {
  background-color: black;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Lightbox
  (Top-Right-Bottom-Left)
*************************************************** */

/* Chaning opacity of underlayer */

.dhx_cal_cover {
  opacity: .5;
}

/* Removing under glow for ligthbox */

.dhx_cal_light, .dhx_cal_light_wide {
  box-shadow: inherit;
}

.dhx_cal_ltitle {
  width: 100%;
  height: fit-content;
  padding: 0;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

span.dhx_time, span.dhx_mark {
  display: none;
}

span.dhx_title {
  position: flex;
  width: 100%;
  padding-left: 0 !important;
}

.dhx_cal_light {
  height: fit-content !important;
  border: 0;
}

/* removing standard box */

.dhx_cal_lsection {
  display: none;
}

/* removing padding from box */

.dhx_cal_light_wide .dhx_wrap_section, .dhx_cal_larea {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* removing standard padding to input from foundation */

input, p {
  margin-bottom: 0 !important;
}

.Lightbox-Header-Main {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 50px;
  cursor: move;
  text-align: center;
  background-color: #36414d;
  justify-content: center;
  align-items: center;
}

.Lightbox-Header-Main span {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  color: white;
}

.Lightbox-Header-Main a {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  right: 0;
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  color: white;
  border-top-right-radius: 5px;
  background: #da0e0e;
  justify-content: center;
  align-items: center;
}

.Lightbox-Header-Main a:hover {
  background-color: #ef1d1d;
}

.Lightbox-Content {
  width: 100%;
}

.Lightbox-Content-Main {
  font-size: 14px;
  overflow: auto;
  width: 100%;
  max-height: 500px;
}

.Lightbox-Content-Main-Title {
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  padding: 15px 0;
  text-align: center;
}

.Lightbox-Content-Main-Content {
  padding: 0 40px;
  padding-bottom: 20px;
}

.Lightbox-Footer-Main {
  display: flex;
  flex-direction: inherit;
  width: 100%;
  height: 100%;
  background-color: #292c31;
  justify-content: center;
}

.Lightbox-Footer-Main-DateTime {
  display: flex;
  width: fit-content;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  justify-content: flex-end;
}

.Footer-DateTime-Date, .Footer-DateTime-Time {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.Footer-DateTime-Date span, .Footer-DateTime-Time span {
  font-size: 20px;
  padding-right: 10px;
  color: white;
}

.Footer-DateTime-Date label, .Footer-DateTime-Time label {
  color: white;
}

.Lightbox-Footer-Main-RoomAva {
  display: flex;
  width: fit-content;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: flex-start;
}

.Footer-Main-Room, .Footer-Main-Ava {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.Footer-Main-Room span, .Footer-Main-Ava span {
  font-size: 20px;
  padding-right: 10px;
  color: white;
}

.Footer-Main-Room label, .Footer-Main-Ava label {
  color: white;
}

/* NOTE: If you want the lightbox footer to have dual line, Remove the commenting below  */

/*
.Lightbox-Footer-Main {
  flex-direction: column;
}

.Lightbox-Footer-Main-DateTime, .Lightbox-Footer-Main-RoomAva{
  width: 100%;
  justify-content: center;
}

.Lightbox-Footer-Main-DateTime{
  padding-bottom: 5px;
}

.Footer-DateTime-Date, .Footer-DateTime-Time {
  padding: 0 20px;
}

.Lightbox-Footer-Main-RoomAva {
  padding-bottom: 15px;
}

.Footer-Main-Room, .Footer-Main-Ava {
  padding: 0 20px;
}
*/

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
