/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

#Content-Main {
  display: flex;
  width: auto;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  justify-content: center;
}

button {
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Login
  (Top-Right-Bottom-Left)
*************************************************** */

#Login-Main {
  position: relative;
  width: 70%;
  min-width: 400px;
  max-width: 700px;
  height: 100%;
  margin-top: 50px;
}

#Login-Icon {
  position: relative;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
}

#Login-Icon span {
  font-size: 50px;
  position: relative;
  z-index: 10;
  display: flex;
  width: 120px;
  height: 120px;
  color: white;
  border: 5px solid #292c30;
  border-radius: 50%;
  background-color: #35414d;
  justify-content: center;
  align-items: center;
}

#Login-Content {
  position: relative;
  z-index: 8;
  top: -60px;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  border-radius: 10px;
  background-color: #292c30;
}

.Login-Content-Title {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}

.Login-Content-Title-Main {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.Login-Content-Fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Content-Fields-Username, .Content-Fields-Password {
  width: 100%;
  max-width: 400px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
}

.Login-Submit {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

#Login-Submit {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  TOP-BAR
  (Top-Right-Bottom-Left)
*************************************************** */

/* Left back icon in top-bar */

.Top-Bar-Back {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  background-color: #e74c3c;
}

.Top-Bar-Back a {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #e74c3c;
  justify-content: center;
  align-items: center;
}

.Top-Bar-Back a:hover {
  background-color: #cc3c2e;
}

/* Top bar register button */

#Register-Button {
  font-weight: 500;
  position: relative;
  display: flex;
  width: 90px;
  height: 60px;
  padding: 0;
  background-color: #1779ba;
  justify-content: center;
  align-items: center;
}

#Register-Button:hover {
  background-color: #14679e;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
