/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

body {
  display: none;
}

#Content-Main {
  display: flex;
  width: auto;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  justify-content: center;
}

button {
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Login
  (Top-Right-Bottom-Left)
*************************************************** */

@media (min-height: 600px) {
  #Content-Main {
    align-items: center;
  }
}

#Login-Main {
  position: relative;
  width: 70%;
  min-width: 350px;
  max-width: 500px;
  height: 100%;
  margin-top: 50px;
}

#Login-Icon {
  position: relative;
  z-index: 9;
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: center;
}

#Login-Icon span {
  font-size: 50px;
  position: relative;
  z-index: 10;
  display: flex;
  width: 120px;
  height: 120px;
  color: white;
  border: 5px solid #292c30;
  border-radius: 50%;
  background-color: #35414d;
  justify-content: center;
  align-items: center;
}

#Login-Content {
  position: relative;
  z-index: 8;
  top: -60px;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  border-radius: 10px;
  background-color: #292c30;
  padding-bottom: 20px;
}

.Login-Content-Title {
  width: 100%;
  height: 60px;
  margin-top: 15px;
}

.Login-Content-Title-Main {
  font-size: 35px;
  font-weight: bold;
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.Login-Content-Fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.Login-Content-Fields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.Content-Fields-Label {
  font-size: 16px;
  color: white;
}

.Content-Fields-Username, .Content-Fields-Password {
  max-width: 350px;
  width: 100%;
  padding: 0 5px;
}

.Content-Fields-Password {
  padding-top: 10px;
}

.Login-Submit {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

#Login-Submit {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Spinner
  (Top-Right-Bottom-Left)
*************************************************** */

.Spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #7fb836;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinker {
  50% {
    color: darkred;
  }
  50% {
    color: #292c30;
  }
}

@keyframes shake {
  0% {
    transform: translate(6px, 0);
  }
  50% {
    transform: translate(-6px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  TOP-BAR
  (Top-Right-Bottom-Left)
*************************************************** */

/* Left back icon in top-bar */

.Top-Bar-Back {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  background-color: #e74c3c;
}

.Top-Bar-Back a {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #e74c3c;
  justify-content: center;
  align-items: center;
}

.Top-Bar-Back a:hover {
  background-color: #cc3c2e;
}

/* Top bar register button */

#Register-Button {
  font-weight: 500;
  position: relative;
  display: flex;
  width: 90px;
  height: 60px;
  padding: 0;
  background-color: #1779ba;
  justify-content: center;
  align-items: center;
}

#Register-Button:hover {
  background-color: #14679e;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
