/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

.button {
  margin: 0;
  padding: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Tittle
  (Top-Right-Bottom-Left)
*************************************************** */

.Lesson-Title-Main {
  display: flex;
  width: 100%;
  height: 60px;
  color: white;
  background: #35414d;
  justify-content: center;
  align-items: center;
}

.Lesson-Title-Left {
  background: grey;
}

.Lesson-Title-Title span {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.Lesson-Title-Right {
  position: absolute;
  right: 0;
  display: flex;
  height: 60px;
  padding: 0 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

div.Lesson-No-Events {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 140px);
}

div.Lesson-No-Events label {
  font-size: 30px;
  font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Accordion
  (Top-Right-Bottom-Left)
*************************************************** */

.accordion-item:first-child {
  border-top: none;
}

.accordion-item {
  border-top: 2px solid white;
}

.accordion-title {
  font-size: 18px;
  display: flex;
  height: 50px;
  padding: 0 !important;
  color: white;
  border: 0;
  background: #444444;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.accordion-title:focus {
  background: #4c4c4c;
}

.accordion-title:hover {
  color: white;
  background-color: #4c4c4c;
}

.accordion-title span {
  position: absolute;
  left: 0;
  padding-left: 20px;
}

.accordion-title::before {
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  margin: 0;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  font-size: 30px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Accordion content
  (Top-Right-Bottom-Left)
*************************************************** */

.accordion-content {
  background-color: #ebebeb;
}

.Accordion-Content-Main {
  justify-content: center;
}

@media print, screen and (min-width: 700px) {
  .Accordion-Item-Main {
    width: 32% !important;
  }
}

@media print, screen and (min-width: 900px) {
  .Accordion-Item-Main {
    width: 25% !important;
  }
}

@media print, screen and (max-width: 700px) {
  .Accordion-Item-Main {
    width: 50% !important;
  }
}

.Accordion-Item-Main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
}

.Accordion-Item {
  width: 100%;
  min-width: 195px;
  max-width: 220px;
  margin: 15px 20px;
  border-radius: 5px;
  overflow: hidden;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Item
  (Top-Right-Bottom-Left)
*************************************************** */

.Lesson-Content-Main label, .Lesson-Content-Main a, .Lesson-Content-Main span {
-webkit-user-select: none; /* Safari */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

/* _____ # TITLE # _____ */

.accordion .Item-Title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 40px;
}

.accordion .Item-Title-Label {
  display: block;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  max-height: calc(100% - 10px);
  max-width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* _____ # SUB # _____ */

.accordion .Item-Sub {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444444;
  height: 30px;
}

.accordion .Item-Sub-Label {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  max-height: calc(100% - 10px);
  max-width: calc(100% - 80px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* _____ # LIST # _____ */

.accordion .Item-Content {
  width: 100%;
  background: #cacaca;
}

.accordion .Item-List {
  list-style: none;
  margin: 0;
  padding: 20px;
}

/* # LIST Item # */

.accordion .List-Item {
  display: flex;
  background-color: white;
  width: 100%;
  height: 40px;
  margin-top: 15px;
}

.accordion .List-Item:first-child {
  margin-top: 0;
}

.accordion .List-Item .Item-Icon {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444444;
  width: 40px;
  height: 100%;
  color: white;
}

.accordion .List-Item .Item-Label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}

/* _____ # TIME # _____ */

.accordion .Item-Time {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444444;
  height: 30px;
}

.accordion .Item-Time-Label {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1.5px;
  max-height: calc(100% - 10px);
  max-width: calc(100% - 80px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
