/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

#Content-Main {
  min-height: calc(100vh - 80px);
  text-align: center;
}

label {
  color: inherit;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Major
  (Top-Right-Bottom-Left)
*************************************************** */

.Major-Main {
  position: relative;
  display: inline-flex;
  max-width: 800px;
  margin: 0 30px;
  padding: 0 10px;
  padding-top: 40px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .Major-Main {
    max-width: 1000px;
  }
}

.Major {
  margin: 15px;
  padding: 2em 0;
  color: white;
  background-color: #35414d;
}

.Major:hover {
  opacity: .8;
  color: black;
}

.Major div {
  position: relative;
  top: -10px;
  width: 0;
  height: 0;
  text-align: center;
}

.Major label {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.Major span {
  font-size: 17px;
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

a.MajorLink {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
