/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

a.button {
  margin: 0;
}

div#Loading-Table {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.Major-Title-Main {
  position: relative;
  z-index: 5;
  display: flex;
  width: 100%;
  height: 60px;
  color: white;
  background: #35414d;
  justify-content: center;
  align-items: center;
}

.Major-Title-Left {
  font-size: 20px;
  position: absolute;
  left: 0;
  display: flex;
  height: 60px;
  padding: 0 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

.Major-Title-Title span {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.Major-Title-Right {
  font-weight: bold;
  position: absolute;
  right: 0;
  display: flex;
  height: 60px;
  padding: 0 20px;
  color: white;
  justify-content: center;
  align-items: center;
}

.Major-Item-Title:hover, .Major-Item-Title:focus {
  color: white;
}

.Major-No-Result {
  font-size: 20px;
  display: flex;
  height: calc(100vh - 175px);
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.Major-No-Result * {
  font-size: 25px;
  font-weight: bold;
}

.blocker {
  z-index: 6;
}

.AddNew {
  background-color: #0fab51;
}

.AddNew a:hover {
  background-color: #0e9446;
}

.AddNew .dd-option-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddNew .dd-option-selected {
  background: #0fab51;
}

.dd-option-text .AddNewIcon {
  font-size: 20px;
  color: white;
}

.dd-option-text .AddNewLabel {
  font-size: 14px;
  font-weight: bold;
  padding-left: 8px;
  color: white;
}

.FailedLoadingList a {
  background: #f44336 !important;
}

.FailedLoadingList .dd-option:hover {
  background: #e53935 !important;
}

.FailedLoadingList * {
  color: white;
}

.dd-options {
  box-shadow: none !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Search
  (Top-Right-Bottom-Left)
*************************************************** */

@keyframes Search {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}

.Major-Search-Main {
  position: relative;
  z-index: 1;
  top: -50px;
  display: none;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.Major-Search-Main input {
  height: 100%;
  text-align: center;
}

.Major-Search-Main input:focus {
  border: 1px solid #cacaca;
  box-shadow: inherit;
}

.Major-Search-Show {
  display: flex;
  animation: Search .5s ease-out forwards;
}

#Search-Major {
  text-transform: capitalize;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Major
  (Top-Right-Bottom-Left)
*************************************************** */

.Major-Content {
  width: 100vw;
  padding: 20px 40px;
  margin-top: 20px;
}

.Major-List {
  width: 100%;
  text-align: center;
}

.Major-Item {
  display: inline-block;
  width: 50%;
  min-width: 170px;
  max-width: 200px;
  height: 90px;
  margin: 10px;
  cursor: pointer;
  background: #35414d;
}

.Major-Item:hover {
  opacity: .9;
}

@media only screen and (max-width: 750px) {
  .Major-Item {
    margin: 10px 40px;
  }
}

@media only screen and (min-width: 750px) {
  .Major-Item {
    width: 30%;
  }
}

@media only screen and (min-width: 800px) {
  .Major-Item {
    width: 20%;
  }
}

.Major-Item-Container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Major-Item-Title {
  font-size: 18px;
  display: block;
  overflow: hidden;
  width: 100%;
  padding: 31.82px 20px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  DataTable Addon Edit
  (Top-Right-Bottom-Left)
*************************************************** */

/* Remove default search bar */

div#List_filter {
  display: none;
}

/* Remove top and bottom padding from DataTables */

table#List {
  display: none;
  overflow: hidden;
  margin: 0;
  border-radius: 10px;
}

/* Add padding to items */

table.dataTable tbody th, table.dataTable tbody td {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Center heading and content text */

table#List th, table#List td {
  text-align: center;
}

#List thead {
  color: white;
  background: #36414d;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #e2e2e2;
}

/* Center paging buttons */

div#List_paginate {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

/* Remove paging bottom padding */

div#List_paginate .pagination {
  margin: 0;
}

/* Paging buttons */

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #dcdcdc;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 8px 15px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover a {
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: black;
}

.pagination a:hover, .pagination button:hover {
  background: none;
}

.pagination a, .pagination button {
  display: block;
  padding: 0;
  color: #0a0a0a;
  border-radius: 0;
}

#List-Main {
  max-width: 1200px;
  margin: 0 auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Add major popup
  (Top-Right-Bottom-Left)
*************************************************** */

.AddMajor-Modal {
  max-width: 700px !important;
}

.AddMajor-Header {
  position: relative;
  display: flex;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #35414d;
  justify-content: center;
  align-items: center;
}

.AddMajor-Header label {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.AddMajor-Header a {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  right: 0;
  display: flex;
  width: 50px;
  height: 100%;
  cursor: pointer;
  color: white;
  background-color: #f44336;
  justify-content: center;
  align-items: center;
}

.AddMajor-Header a:hover {
  background-color: #e53935;
}

#AddMajorForm {
  padding: 30px 80px;
}

/* ***************************************
  Add major popup CONTENT
  (Top-Right-Bottom-Left)
*************************************** */

.AddMajor-Container-TitleCode {
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px 0 20px 0;
  justify-content: center;
  align-items: center;
}

.Container-TitleCode-Title {
  display: flex;
  flex-direction: column;
  width: 70%;
  flex-grow: 1;
}

.Container-TitleCode-Code {
  width: 30%;
  max-width: 150px;
}

.Container-TitleCode-Title {
  padding-right: 40px;
}

.TitleCode-Label {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  padding: 2.5px 0;
  color: white;
  background-color: #292c30;
  justify-content: center;
  align-items: center;
}

.TitleCode-Input {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.AddMajor-YearColor {
  position: relative;
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
}

#AddMajor-Year .dd-select {
  height: 40px;
}

#AddMajor-Year .dd-selected-text {
  font-weight: bold;
}

#AddMajor-Color {
  height: 40px;
  padding: 5px 8px;
}

.Container-Year {
  display: flex;
  width: 60%;
  padding-right: 30px;
}

.Container-Color {
  display: flex;
  width: 40%;
}

.Container-Year .Year-Label, .Container-Color .Color-Label {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 110px;
  color: white;
  background-color: #292c30;
  justify-content: center;
  align-items: center;
}

.AddMajor-Hours {
  padding-top: 15px;
  width: 100%;
}

.AddMajor-Hours-Title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Container-Hours {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Hours-H1, .Hours-H2 {
  display: flex;
}

.Hours-H1 {
  padding-right: 40px;
}

.Hours-H1 label, .Hours-H2 label {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  background: #292c30;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.Hours-H1 input, .Hours-H2 input {
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

/* - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - */

.AddMajor-Buttons {
  display: flex;
  width: 100%;
  padding: 38px 0 5px 0;
  justify-content: center;
  align-items: center;
}

#AddMajor-Confirm {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  height: 38px;
  margin: 0;
  padding: 0 30px;
  color: white;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

@keyframes ValidationPulse {
  0% {
    background-color: white;
  }
  50% {
    background-color: #c0392b;
  }
  100 {
    background-color: white;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
