/* ***************************************************
  Main Content
  (Top-Right-Bottom-Left)
*************************************************** */

.Title {
  padding: 20px 0;
  text-align: center;
}

.Title.cell * {
  font-size: 30px;
}

.Submit {
  margin-top: 20px;
  text-align: center;
}

.Submit button {
  padding: 20px 40px;
}

.Date, .MaxStudents {
  padding: 20px 3em;
  text-align: center;
}

.Date *, .MaxStudents * {
  text-align: center;
}

.Date * {
  font-size: 12px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Calendar
  (Top-Right-Bottom-Left)
*************************************************** */

.Calendar-Main {
  overflow-x: auto;
  width: 100vw;
  min-height: calc(100vh - 80px);
  white-space: nowrap;
}

/* Removes the background of the verticall calendar */

div#scheduler_here {
  overflow-x: scroll;
  background-color: inherit;
}

table tbody tr:nth-child(even) {
  background-color: inherit;
}

/* Gives header and time of calendar white background */

.dhx_cal_navline {
  position: sticky;
  background-color: white;
}

div#dhx_minical_icon {
  left: 50px !important;
}

.dhx_cal_header {
  background-color: white;
  border-top: 0;
  padding-top: 1px;
  /*width: 1000px !important;*/
}

/* Removes unnecessary padding to each cell given by foundation */

table tbody th, table tbody td {
  padding: 0;
}

/* Makes it so that one option doesn't get 100% width, instead it divides the width equally between the elements */

.dhx_section_time {
  display: flex;
}

@media print, screen and (max-width: 900px) {
  .dhx_scale_bar {
    font-size: 10px !important;
  }
}

@media print, screen and (max-width: 700px) {
  .dhx_scale_bar {
    font-size: 8px !important;
  }
  .dhx_cal_event .dhx_body, .dhx_cal_event_line {
    font-size: 10px !important;
  }
}

.dhx_scale_bar {
  font-size: 12px;
}

.dhx_cal_event .dhx_body, .dhx_cal_event_line {
  font-size: 12px;
}

.dhx_cal_event_line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Gives event full height and centers text vertically and horizontally */

.dhx_cal_event_line {
  display: flex;
  padding: 0 5px;
  justify-content: center;
  align-items: center;
}

/* Makes resize dots at the start and end full height aswell */

.dhx_cal_event_line .dhx_event_resize {
  /*height: 100% !important;*/
}

.dhx_cal_data {
  /*width: 1000px !important;*/
  outline: 0;
}

tr.dhx_row_folder {
  /*width: 1000px;*/
}

.dhx_matrix_line {
  /*width: 1000px !important;*/
}

table.dhx_data_table {
  /*width: 1000px !important;*/
}

tr.dhx_row_item {
  /*width: 1000px;*/
}

/* Makes it so that text area fits inside the container */

textarea {
  min-height: inherit;
  margin: 0;
}

/* Removes unnecessary height to every select element given by foundation */

select {
  height: inherit;
}

label {
  font-size: initial;
  line-height: 1;
}

/* Removes yellow highlight/background on clicked element */

.dhx_focus_slot {
  display: none;
}

.Event-Content-Main {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
}

.Event-Content-Time {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Event-Content-Type {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
