/* ***************************************************
  CreateMajor
  (Top-Right-Bottom-Left)
*************************************************** */

#Content-Main {
  width: 100vw;
  height: calc(100vh - 80px);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  CreateMajor
  (Top-Right-Bottom-Left)
*************************************************** */

.New-Major-Title {
  position: relative;
  display: flex;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Input-Main {
  position: relative;
  display: flex;
  height: calc(100vh - 80px - 60px - 80px);
  margin: 0 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Input-Title label {
  font-size: 16px;
}

.Input-Input select, .Input-Input input {
  font-size: 18px;
  height: 60px;
  text-align: center;
  text-align-last: center;
}

.Input-Input input {
  width: 80%;
}

.Button-Main {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 60px;
  text-align: center;
}

.Button-Main button {
  font-size: 18px;
  width: 150px;
  height: 60px;
  margin: 0;
  padding: 1.15em 0;
  vertical-align: middle;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Edit to foundation code
  (Top-Right-Bottom-Left)
*************************************************** */

select {
  max-width: 160px;
  margin: 0;
  border: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
