/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

#Content-Main {
  display: flex;
  width: auto;
  min-height: calc(100vh - 60px);
  margin-top: 60px;
  justify-content: center;
}

@media (min-height: 1050px) {
  #Content-Main {
    align-items: center;
  }
}

select {
  margin: 0;
  text-align: center;
  text-align-last: center;
}

option {
  text-align: center;
}

button {
  margin: 0 !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  TOP BAR
  (Top-Right-Bottom-Left)
*************************************************** */

/* Left back icon in top-bar */

.Top-Bar-Back {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  background-color: #e74c3c;
}

.Top-Bar-Back a {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #e74c3c;
  justify-content: center;
  align-items: center;
}

.Top-Bar-Back a:hover {
  background-color: #cc3c2e;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  IMG circle
  (Top-Right-Bottom-Left)
*************************************************** */

.Register-Image {
  position: relative;
  z-index: 10;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Register-Image-Main {
  display: flex;
}

.Register-Image-Main #Register-ImgTxt {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  display: flex;
  overflow: hidden;
  width: 140px;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: .5;
  color: white;
  border: 5px solid #292c30;
  border-radius: 50%;
  background: rgba(0, 0, 0, .6);
  justify-content: center;
  align-items: center;
}

.Register-Image-Main #Register-ImgTxt:hover {
  opacity: 1 !important;
}

.Register-Image-Main img {
  z-index: 10;
  display: flex;
  width: 140px;
  height: 140px;
  cursor: pointer;
  border: 5px solid #292c30;
  border-radius: 50%;
  background-color: #292c30;
  justify-content: center;
  align-items: center;
}

.Register-Image-Main img:hover {
  opacity: 1;
}

/* __________ START: ERROR SECTION __________ */

#Register-Img-Error {
  position: absolute;
  z-index: 101;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 140px;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: white;
  border: 5px solid #292c30;
  border-radius: 50%;
  /*background: rgba(0, 0, 0, .8);*/
  background-color: black;
  opacity: .7;
}

#Register-Img-Error:hover {
  opacity: 1;
  color: red;
}

#Register-Img-Error * {
  color: white;
  text-align: center;
  font-size: 12px;
  width: 100%;
}

#Img-Error-Title {
  color: red;
  font-size: 14px;
  font-weight: bold;
}

#Img-Error-Current {
  padding: 8px 0;
}

#Img-Error-Max {}

/* __________ END: ERROR SECTION __________ */


/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Register
  (Top-Right-Bottom-Left)
*************************************************** */

#Register-Main {
  position: relative;
  width: 80%;
  min-width: 550px;
  max-width: 800px;
  height: fit-content;
  margin-top: 50px;
}

.Register-Content {
  position: relative;
  z-index: 9;
  top: -70px;
  width: 100%;
  height: 100%;
  padding-top: 70px;
  border-radius: 10px;
  background-color: #292c30;
}

.Register-Content label {
  font-size: 13px;
  padding: 0 8px;
  color: white;
}

.Register-Content input {
  font-size: 12px;
  height: 2.4375rem;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-indent: 0;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Register-Title {
  display: flex;
  width: 100%;
  height: 60px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Register-Title-Main {
  font-size: 25px !important;
  font-weight: bold;
  color: white;
}

.Register-Name {
  padding: 0 30px;
  padding-top: 20px;
}

.Register-Name input {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  text-indent: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-group-label {
  font-size: 18px;
  border-radius: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.Register-Name-First, .Register-Name-Middle, .Register-Name-Last {
  padding: 0 5px;
}

.Register-Email_Phone {
  display: flex;
  padding: 0 30px;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.Register-Email_Phone .Register-Email, .Register-Email_Phone .Register-Phone {
  max-width: 300px;
  padding: 0 5px;
}

.Register-Birth_VGS {
  display: flex;
  width: 100%;
  padding: 0 60px;
  padding-top: 15px;
  justify-content: center;
}

.Register-Birth, .Register-VGS {
  max-width: 300px;
  padding: 0 5px;
  flex: 1;
}

.Register-Birth-Input {
  padding-left: 50px !important;
  text-align: center !important;
}

.Register-VGS {
  min-width: 60px;
  max-width: 130px;
}

.Register-VGS label {
  padding: 0;
  text-align: center;
}

.Register-VGS select {
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}

.Register-Username {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 60px;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}

.Register-Username * {
  max-width: 300px;
}

.Register-Username label {
  padding-left: 0;
}

.Register-Username-Main {
  margin: 0;
}

.Register-Username-Main input {
  text-align: center;
}

.Register-Password_Confirm {
  display: flex;
  padding: 0 30px;
  padding-top: 15px;
  justify-content: center;
  align-items: center;
}

.Register-Password, .Register-Confirm {
  max-width: 300px;
  padding: 0 5px;
  text-align: center;
}

.Register-Password input, .Register-Confirm input {
  text-align: center;
}

#ReCaptcha {
  display: flex;
  width: 100%;
  height: fit-content;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
}

.Register-Submit {
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}

.Register-Submit #Register-Submit {
  display: flex;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Edit to foundation code
  (Top-Right-Bottom-Left)
*************************************************** */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  font-size: 12px;
  text-indent: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  TESTING SECTION
  (Top-Right-Bottom-Left)
*************************************************** */

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
