/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

footer {
  top: 0;
}

data {
  position: relative;
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  EDIT FOUNDATION CODE
  (Top-Right-Bottom-Left)
*************************************************** */

:last-child:not(.is-active)>.accordion-title {
  border: 0;
}

.accordion-title {
  color: inherit;
  border: 0;
}

.accordion-content {
  padding: 0;
  border: 0;
  border-top: 0;
  background-color: #ebebeb;
}

.accordion-title:hover, .accordion-title:focus {
  background: inherit;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Sub major
  (Top-Right-Bottom-Left)
*************************************************** */

.Sub-Major-Title {
  display: flex;
  width: 100vw;
  height: 60px;
  color: white;
  background-color: #36414d;
  align-items: center;
  justify-content: center;
}

.Sub-Edit-Button {
  position: absolute;
  right: 0;
  display: flex;
  margin: 0;
  padding: 23px 20px;
}

.Sub-Major-Content-Main {
  display: none;
  min-height: calc(100vh - 80px - 60px);
}

@media screen and (min-width: 800px) {
  .Sub-Major-Content-Main {
    width: calc(100% - 200px) !important;
  }
  .Content-Main-Content {
    padding: 0 40px !important;
  }
}

.Sub-Major-Menu-Main {
  overflow: auto;
  max-width: 200px;
  min-height: calc(100vh - 80px - 60px + 75px);
  max-height: 100%;
  background-color: #6e7882;
}

.Sub-Major-Menu-Main ul li {
  text-align: center;
  border-bottom: 1px solid white;
  background-color: #4a5765;
}

.Sub-Major-Menu-Main ul li:last-child {
  border-bottom: 0;
}

.Sub-Major-Menu-Main ul li:hover {
  color: white;
  background-color: rgba(0, 0, 0, .7);
}

.Sub-Major-Menu-Main ul li a {
  font-size: 14px;
  padding: 20px 30px;
}

.Sub-Major-Menu-Main ul .is-active {
  color: white;
  background-color: #212427 !important;
}

.Sub-Major-Menu-Active {
  color: white;
  background-color: #212427 !important;
}

.Accord-List li {
  border-bottom: 0 !important;
  background-color: #6e7882 !important;
}

.Accord-List li a {
  width: 100%;
  padding: 20px 10px !important;
  color: #dcdcdc;
  border-right: 5px solid #ebebeb;
}

.Accord-List li a:focus {
  border-left: 10px solid black;
}

.Accord-List li a:hover {
  background: #4a5765;
}

.Accord-List li:nth-child(1) {
  border-bottom: #ebebeb 1px solid !important;
}

.Sub-Major-Content-Main {
  height: fit-content;
  margin-bottom: 75px;
}

.Content-Main-Title {
  margin-top: 15px;
  text-align: center;
}

.Content-Main-Content {
  padding: 0 20px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
