/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  EDIT TO CALENDAR SOURCE CODE
  (Top-Right-Bottom-Left)
*************************************************** */

/* Removing background */

.dhx_scale_holder, .dhx_scale_holder_now {
  background-image: none;
}

/* Align text of events to the center, default: left */

.dhx_body {
  text-align: center;
}

/* Hides on px that enables scroll mode for some reason */

.dhx_cal_data {
  overflow: hidden;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
