/* ***************************************************
  FOOTER
  (Top-Right-Bottom-Left)
*************************************************** */

/* NOTE: Footer, add map on right side, and also add pentagon icons with phone, adress and  */

/* Removes initial padding that comes with foundation bar */

footer {
  position: relative;
  top: 75px;
  width: 100%;
  height: 180px;
  background-color: #454f59;
  background-image: url('../../img/FooterSubtle.png');
  background-size: auto;
}

.Footer-Logo {
  position: relative;
  top: calc(125px / 2 * -1);
  width: 100%;
  text-align: -webkit-center;
}

.Footer-Logo-Underlayer {
  width: 150px;
  height: 120px;
  text-align: center;
  background-color: #ebebeb;
}

.Footer-Logo-Underlayer img {
  padding-top: 15px;
}

.Footer-Label {
  position: relative;
  top: -63px;
  width: 100%;
  text-align: center;
}

.Footer-Label label {
  font-size: 25px;
  font-weight: bold;
  line-height: inherit;
  letter-spacing: 1px;
  color: #8cc63f;
}

.Footer-HR {
  position: relative;
  top: -63px;
  width: 100%;
  height: auto;
  margin: 1rem auto;
  text-align: center;
}

.Footer-HR hr {
  width: 300px;
  margin: 0rem auto;
  border: 1.5px solid white;
}

.Footer-Social {
  position: relative;
  top: -65px;
  width: 100%;
  text-align: center;
}

.Footer-Icon {
  font-size: 30px;
  display: inline-block;
  margin: -5px 8px;
  color: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
