/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

#Mobile-View {
  display: none;
}

@media print, screen and (min-width: 40em) {
  h3, .h3 {
    font-size: 1.1875rem;
  }
}

@media screen and (max-width: 40em), screen and (max-height: 500px) {
  #Desktop-View {
    display: none;
  }
  #Mobile-View {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #Mobile-View img {
    width: 80vw;
    max-width: 300px;
    margin-bottom: 100px;
  }
  #Mobile-View * {
    font-weight: bold;
  }
}

@media screen and (max-height: 700px) {
  .OffCanvas-Menu-Social {
    display: none;
  }
}

#Content-Main {
  overflow-x: hidden;
  max-width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

*:focus {
  outline: 0;
}

*{
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Pagination
  (Top-Right-Bottom-Left)
*************************************************** */

/* Cosmetic only */

.easyPaginateNav a {
  padding: 5px;
}

.easyPaginateNav a.current {
  text-decoration: underline;
  font-weight: bold;
}

.easyPaginateNav {
  width: 100% !important;
  text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Calendar
  (Top-Right-Bottom-Left)
*************************************************** */

.dhtmlx_message_area {
  display: none;
  z-index: 1000;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
