/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

#Mobile-View {
  display: none;
  padding-top: calc(50vh - .5rem);
  padding-bottom: calc(50vh - .5rem);
}

@media screen and (max-width: 40em), screen and (max-height: 500px) {
  #Desktop-View {
    display: none;
  }
  #Mobile-View {
    display: block;
    text-align: center;
  }
}

@media screen and (max-height: 700px) {
  .OffCanvas-Menu-Social {
    display: none;
  }
}

#Content-Main {
  overflow-x: hidden;
  max-width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Pagination
  (Top-Right-Bottom-Left)
*************************************************** */

/* Cosmetic only */

.easyPaginateNav a {
  padding: 5px;
}

.easyPaginateNav a.current {
  text-decoration: underline;
  font-weight: bold;
}

.easyPaginateNav{
  width: 100% !important;
  text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
