/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

body * {
  margin: 0;
}

#Mobile-View {
  display: none;
}

@media print, screen and (min-width: 40em) {
  h3, .h3 {
    font-size: 1.1875rem;
  }
}

@media screen and (max-width: 644px), screen and (max-height: 600px) {
  #Desktop-View {
    display: none;
  }
  #Mobile-View {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  #Mobile-View img {
    width: 80vw;
    max-width: 300px;
    margin-bottom: 100px;
  }
  #Mobile-View * {
    font-weight: bold;
  }
}

@media screen and (max-height: 700px) {
  .OffCanvas-Menu-Social {
    display: none;
  }
}

#Content-Main {
  overflow-x: hidden;
  max-width: 100%;
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

*:focus {
  outline: 0;
}

* {
  margin: 0;
}

/* Makes all buttons, anchors and images unselectable */

a, button, img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

table {
  margin-bottom: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}

/* Change layer index to side menu overlay */

.js-off-canvas-overlay.is-closable {
  z-index: 99;
}

#Connection-Status {
  position: fixed;
  z-index: 1000;
  right: 10px;
  bottom: 10px;
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #35414d;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
  margin: 0 !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Pagination
  (Top-Right-Bottom-Left)
*************************************************** */

/* Cosmetic only */

.easyPaginateNav a {
  padding: 5px;
}

.easyPaginateNav a.current {
  font-weight: bold;
  text-decoration: underline;
}

.easyPaginateNav {
  width: 100% !important;
  text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Calendar
  (Top-Right-Bottom-Left)
*************************************************** */

.dhtmlx_message_area {
  z-index: 1000;
  display: none;
}

.dhtmlx_popup_button, .dhtmlx_popup_button div, .dhtmlx_popup_button div:active, .dhtmlx_popup_button:active {
  color: white;
  background: darkgrey;
}

.dhtmlx_popup_button:hover, .dhtmlx_popup_button div:hover, .dhtmlx_popup_button div:active:hover, .dhtmlx_popup_button:active:hover {
  background: grey;
}

.dhtmlx_button, .dhtmlx_popup_button {
  border: 0;
}

.dhtmlx_button input, .dhtmlx_popup_button div {
  border: 0;
}

.dhx_data_table.folder .dhx_matrix_cell, .dhx_matrix_scell.folder {
  cursor: pointer;
  color: white;
  background-color: #36414d;
}

.dhx_month_head.dhx_year_event {
  background-color: #ffabab;
}

.dhx_now .dhx_month_body, .dhx_now .dhx_month_head {
  font-weight: 400;
  color: white;
  background-color: #37414d;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Loading
  (Top-Right-Bottom-Left)
*************************************************** */

#Loading-Main {
  position: fixed;
  z-index: 13;
  top: 80px;
  display: none;
  /* Display flex in js to get the loading screen */
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 80px);
  color: white;
  background: rgba(0, 0, 0, .7);
  justify-content: center;
  align-items: center;
}

#Loading-Icon img {
  width: 200px;
}

/* Target this selector to add text */

#Loading-Text {
  font-size: 20px;
  color: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Notifications
  (Top-Right-Bottom-Left)
*************************************************** */

#Notify {
  border-radius: 5px;
  overflow: hidden;
}

.iziToast-cover {}

.iziToast-body {}

.iziToast-texts {}

.iziToast-title {}

.iziToast-message {}

.iziToast>.iziToast-body {
  margin: 0 0 0 20px;
}

.iziToast>.iziToast-body .iziToast-icon {
  left: -3.5px;
}

.iziToast {
  padding: 5px 45px 4px 0;
}

.iziToast-close {
  background-color: red !important;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.iziToast-close:hover {
  background-color: #d40707 !important;
}

.iziToast-close {
  background-size: 10px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
