/* ***************************************************
  Major colors
  (Top-Right-Bottom-Left)
*************************************************** */

.Major-Naturfag {
  background-color: #26a65b;
}

.Major-Norsk {
  background-color: #4183d7;
}

.Major-Nynorsk {
  background-color: #59abe3;
}

.Major-Matematikk {
  background-color: #87d37c;
}

.Major-Samfunnsfag {
  background-color: #96281b;
}

.Major-Historie {
  background-color: #d35400;
}

.Major-Kroppsoving {
  background-color: #6c7a89;
}

.Major-Engelsk {
  background-color: #674172;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
