/* ***************************************************
  TOP-BAR
  (Top-Right-Bottom-Left)
*************************************************** */

/* HIDE & SHOW NAV BAR. SPEED OF TRANSITION, CHANGE HIGHT IN JS */

.scrollhide-nav {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  transition: all 600ms cubic-bezier(.165, .84, .44, 1);
}

.scrollhide-nav.hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* Topbar */

.Top-Bar-Main {
  background: #35414d;
}

/* Hamburger menu bar icon */

.Top-Bar-Menu {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}

.Top-Bar-Menu a {
  padding: 20px;
}

/* Center LOGO in top bar*/

.Top-Bar-Center-Logo {
  position: absolute;
  left: calc(50vw - 65px);
}

/* Make underlayer divs, stay in one line */

.Top-Bar-Logo {
  display: inline-flex;
}

/* TOP BAR LOGO IMG */

#TopBar-Logo {
  width: 50px;
  height: 50px;
}

/* Logo underlayer */

.Triangle-Left {
  width: 0;
  height: 0;
  border-width: 30px 20px 30px 0;
  border-style: solid;
  border-color: transparent #292c30 transparent transparent;
}

.Rectangle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 60px;
  text-align: center;
  background: #292c30;
}

.Triangle-Right {
  width: 0;
  height: 0;
  border-width: 30px 0 30px 20px;
  border-style: solid;
  border-color: transparent transparent transparent #292c30;
}

/* Top bar login button */

#Login-Button {
  position: relative;
  width: 90px;
  height: 60px;
  padding: 22px;
  background-color: #8cc63f;
  font-weight: 500;
}

#Login-Button:hover {
  background-color: #7fb836;
}

#Name-Label {
  overflow: hidden;
  max-width: 160px;
  padding: 1rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
  line-height: 2;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  GENERAL
  (Top-Right-Bottom-Left)
*************************************************** */

/* Removes the blue border and color on a tags */

body {
  background: #ebebeb;
  font-family: helvetica;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

a, a:focus, a:hover {
  text-decoration: none;
  color: inherit;
  outline: none !important;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  CHANGE TO FOUNDATION CODE
  (Top-Right-Bottom-Left)
*************************************************** */

/* Removes initial padding that comes with foundation bar */

.top-bar {
  padding: 0;
}

.button {
  border: 0;
}

hr {
  margin: 1rem auto;
}

.top-bar, .top-bar ul {
  background-color: #35414d;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
