/* ***************************************************
  General
  (Top-Right-Bottom-Left)
*************************************************** */

input {
  margin: 0;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Dropdown Menu
  (Top-Right-Bottom-Left)
*************************************************** */

#User-Menu-Dropdown {
  width: 300px;
  height: 340px;
  border-left: 1px solid white !important;
}

.dropdown-pane {
  top: 80px !important;
  right: 0;
  left: unset !important;
  padding: 0 0 0 0;
  border: 0;
  background-color: #35414d;
}

.User-Menu-Image {
  padding-top: 20px;
  text-align: center;
}

/* Circle image with no strech: https://stackoverflow.com/questions/32477563/css-fit-rounded-circle-image-do-not-stretch-it */

.User-Menu-Image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #292c31;
  object-fit: cover;
}

.User-Menu-Name {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  justify-content: center;
  align-items: flex-end;
}

.User-Menu-Name label {
  font-size: 19px;
  font-weight: bold;
  overflow: hidden;
  max-width: 100%;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.User-Menu-Content {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 164px;
  padding-top: 10px;
}

.User-Menu-Content a {
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
}

.User-Menu-Content a:last-child {
  background-color: #c0392b;
}

.User-Menu-Content a:last-child:hover {
  background-color: #e74c3c;
}

.User-Menu-Content a:hover {
  background-color: #292c30;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */

/* ***************************************************
  Tabs
  (Top-Right-Bottom-Left)
*************************************************** */

.Slider {
  position: relative;
  display: flex;
  overflow: hidden;
}

.Slider {
  display: flex;
}

.Slider>div {
  min-width: 300px;
  height: 340px;
  flex: 1;
}

.Tab-Profile, .Tab-Notifi {
  display: none;
  background-color: #36414d;
}

.Tab-Profile-Content, .Tab-Notifi-Content {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.Profile-Content-Head, .Notifi-Content-Head {
  line-height: 2.4;
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid white;
}

.Profile-Content-Head a, .Notifi-Content-Head a {
  line-height: 2.4;
  position: absolute;
  z-index: 10;
  width: 50px;
  height: 100%;
  color: white;
  background-color: black;
}

.Profile-Content-Head a:hover, .Notifi-Content-Head a:hover {
  background-color: #292c30;
}

.Profile-Content-Head span, .Notifi-Content-Head span {
  width: 100%;
  text-align: center;
}

.Profile-Content-Head label, .Notifi-Content-Head label {
  font-size: 20px;
  font-weight: bold;
  line-height: 2em;
  position: sticky;
  z-index: 9;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  text-align: center;
  color: white;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.Profile-Content-Content, .Notifi-Content-Content {
  font-size: 12px;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100% - 40px);
  color: white;
}

.Profile-Content-Image {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.Profile-Content-Image img {
  overflow: hidden;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  background: #292c31;
  object-fit: cover;
}

.Profile-Img-Close {
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  z-index: 999;
  right: 102px;
  display: none;
  width: 28px;
  height: 28px;
  margin-top: 12px;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  background-color: darkred;
  justify-content: center;
  align-items: center;
}

.Profile-Img-Close:hover {
  background-color: #b50000;
}

#Content-Image-Text {
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  display: flex;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  padding: 0 5px;
  cursor: pointer;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: .0;
  color: white;
  border-radius: 50%;
  background: rgba(0, 0, 0, .6);
  justify-content: center;
  align-items: center;
}

#Content-Image-Text:hover {
  opacity: 1 !important;
}

.Profile-Img-Error {
  position: absolute;
  display: none;
  overflow: hidden;
  flex-direction: column;
  width: 90px;
  height: 90px;
  margin-top: 10px;
  text-overflow: ellipsis;
  opacity: .8;
  color: white;
  border-radius: 50%;
  background-color: grey;
  justify-content: center;
}

.Profile-Img-Error * {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  justify-content: center;
}

.Profile-Img-Error span {
  color: red;
}

.Profile-Content-Name {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.Profile-Content-Name label {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  max-width: 91%;
  margin: 0;
  padding: 2px 10px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.Profile-Content-Email, .Profile-Content-Phone {
  overflow: hidden;
  width: 100%;
  height: fit-content;
  padding: 0 20px;
  background-color: transparent;
}

.Profile-Content-Phone {
  padding-bottom: 10px;
}

.Profile-Content-Email {
  padding-bottom: 10px;
}

.Profile-Content-Phone label, .Profile-Content-Email label {
  font-size: 11px;
  line-height: 1;
  padding-left: 5px;
  color: white;
}

.Profile-Content-Group i {
  font-size: 16px;
  position: absolute;
  display: flex;
  width: 30px;
  height: 40px;
  color: white;
  justify-content: center;
  align-items: center;
}

.Profile-Content-Group input {
  position: relative;
  height: 40px;
  padding-bottom: 4px;
  padding-left: 35px;
  text-align: left;
}

.Profile-Content-Phone input, .Profile-Content-Email input {
  font-size: 12px;
  max-width: inherit;
  padding-left: 40;
  color: white;
  border-top: transparent !important;
  border-right: transparent !important;
  border-bottom: 2px solid #9a9a9a !important;
  border-left: transparent !important;
  background: transparent;
  box-shadow: none;
}

.Profile-Content-Phone input:focus, .Profile-Content-Email input:focus {
  font-size: 12px;
  max-width: inherit;
  padding-left: 40;
  color: white;
  border-top: transparent !important;
  border-right: transparent !important;
  border-bottom: 2px solid white !important;
  border-left: transparent !important;
  background: transparent;
  box-shadow: none;
}

#Save-Profile-Content {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 35px;
  cursor: default;
  opacity: .6;
  background-color: #90c749;
  justify-content: center;
  align-items: center;
}

#Save-Profile-Content:hover {
  background-color: #97d647;
}

.Notifi-Content-Item {
  line-height: 0;
  position: relative;
  display: inline-flex;
  overflow: hidden;
  width: 100%;
  height: 60px;
  max-height: 60px;
  border-bottom: 1px solid white;
  background-color: slategrey;
}

.Notifi-Content-Item span {
  font-size: 25px;
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  background-color: #292c30;
  align-items: center;
  justify-content: center;
}

.Notifi-Content-Item-Content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 5px 10px;
}

.Notifi-Content-Item-Content label {
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 20px;
  color: white;
  align-items: center;
  justify-content: center;
}

.Notifi-Content-Item-Content p {
  font-size: 10px;
  display: block;
  overflow: hidden;
  width: 220px;
  height: 30px;
  padding: 7px 0;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.Notifi-Content-Item:last-child {
  border-bottom: inherit;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - - - - - - - */
